<section class="contact">
  <div class="container">
    <div class="row">
      <div class="contact__left">
        <h2 class="contact__title">Свяжитесь с нами</h2>
        <div class="contact__form-container">
          @@include('../parts/form/form.html'})
        </div>
      </div>
      <div class="contact__right">
        <h2 class="contact__sub-title">Офис продаж</h2>
        <p class="contact__head">Телефон</p>
        <a class="contact__text" href="#">+7 (4012) 91-21-35</a>
        <p class="contact__head">e-mail</p>
        <a class="contact__text" href="#">info@regera.ru</a>
        <p class="contact__head contact__mobile">Адрес</p>
        <address class="contact__address">г. Калининград, л Комсомольская 85, офис 104</address>
      </div>
    </div>
  </div>
</section>