.card-info {
  position: relative;
  background: $white;

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__img-wrapper {
    height: 250px;
  }

  &__img {
    height: 100%;
  }

  &__title {
    margin: 16px 0 8px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding-bottom: 10px;
  }
}