.popup {
  top: 0;
  width: 100%;
  height: 1vh;
  z-index: -999;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: .3s visibility;
  transition: .3s opacity;

  &.open {
    transition: .3s visibility;
    transition: .3s opacity;
    visibility: visible;
    opacity: 1;
    height: 100vh;
    background: #00000020;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 15;
  }

  &-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00000020;
  }

  &-wrapper {
    max-width: 754px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;

    @media (max-width: $md) { 
      max-width: 376px;
    }
  }

  &-content {
    width: 100%;
    min-height: 543px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 60px 40px;
    background: $white;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-close {
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.popup-form {
  .popup-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    padding: 0 60px;
    text-align: center;
    width: 100%;

    @media (max-width: $md) { 
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
    }
  }
}

.popup-success {
  .popup-title {
    align-items: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
    width: 100%;

    @media (max-width: $md) { 
      font-size: 32px;
      line-height: 40px;
    }
  }
}