.about {

  position: relative;

  &__bg {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
  }

  &__img {
    height: 100%;
  }

  &__wrapper {
    height: 100vh;
    max-width: 905px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__logo {
    margin-top: 15px;
  }

  &__logo-img {
    width: 165px;
    height: 203px;
  }

  &__text {
    color: $white;
    margin-top: 60px;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
  }

}