.gallery {
  background: $bd-dark;
  

  &__title {
    padding-top: 60px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
  }

  &__slider {
    padding: 54px 0 70px;

  }
}