.header {
  position: fixed;
  width: 100%;

  &__wrapper {
    display: flex;
    padding: 26px 0;
  }


  &__button {
    margin: 0 16px;
  }

  .logo {
    max-width: 290px;
    display: flex;

    &__svg {
      align-self: center;

      path {
        fill: $primary;
      }
    }
  }

  .nav {
    margin-left: auto;
    display: flex;
    align-items: center;

    &__btn {
      display: none;
    }

    &__list {
      display: flex;
    }

    &__link {
      padding: 10px;
      // color: $white;
      color: $primary;
      transition: 0.3s;

      &:hover {
        color: $accent;
        font-weight: bold;
      }
    }
  }

  .social {
    display: flex;

    &__item {
      position: relative;
    }

    &__link {
      padding: 5px;
    }

    &__svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -1px);
    }
  }

  .tel {
    color: $primary;
    transition: 0.3s;
    font-weight: bold;
    margin-left: 42px;

    &:hover {
      color: $accent;
    }
  }

  .button-transparent {
    color: $primary;
    border-color: $primary;

    &:hover {
      border-color: $accent;
    }
  }

  .social__link {
    transition: 0.3s;
    path {
      stroke: $primary;
      transition: 0.3s;
    }
    &:hover {
      path {
        stroke: $accent;
        transition: 0.3s;
      }
    }
  }

  &__white {
    .logo__svg {
      path {
        fill: $white;
      }
    }

    .nav__link {
      color: $white;
    }

    .tel {
      color: $white;
    }
    .button-transparent {
      color: $white;
      border-color: $white;
    }
    .social__link {
      path {
        stroke: $white;
      }
    }
  }
}