.news.joy {
  background: $white;

  .news {
    background: $bd-dark;

    &__title {
      margin-top: 76px;
      max-width: 557px;
    }

    &__wrapper {
      margin-top: 45px;
      display: flex;
      justify-content: space-between;

      .card-simple {
        max-width: 360px;
        width: 30%;
        min-height: 520px;
      }

      .card-info {
        max-width: 360px;
        width: 30%;
      }

    }

    &__btn {
      margin: 89px auto 77px;
    }
  }
}