.partners {


  &__title {
    margin-top: 97px;
  }
  
  &__images {
    margin-top: 78px;
    padding-bottom: 80px;
  }

  &__wrapper {
    height: 103px;
    width: 25%;
    padding: 13px 34px;
    margin-bottom: 25px;
  }
  
  &__icon {
    height: 100%;
    object-fit: contain;
  }
}

